<html>
	<head>
		<title>jquery.boundform demo</title>
	</head>
	<body>
		<h1>jquery.boundform demo</h1>
		
		<div id="form">
			<input type="text" data-bind="${user.name}"/>
			<ul>
				{{foreach user.emails email}}
					<li class="email"> ${email} </li>
				{{/foreach}}
			</ul>
		</div>
		
		<table>
			{{each users as idx => user}}
				<td>
					${user.name}
					{{if user.showEmail}}
						<i>${user.email}</i>
					{{/if}}
				</td>
			{{/each}}
		</table>
		
		
		<div id="plaintext-example">
		    hello ${user.name}
		    all users:
		    {{each users as idx => user}}
				{{if user.showEmail }}
				    email: ${user.email}
				{{/if}}
				${idx}. name: ${user.name}
			{{/each}}
			your email: ${user.email}
		</div>
		
	</body>
</html>
