<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>jquery.binddata unit tests</title>
		<link rel="stylesheet" href="qunit.css" type="text/css" />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
		<script type="text/javascript" src="qunit.js"></script>
		<!-- <script type="text/javascript" src="../jquery.binddata.js"></script> -->
		<script type="text/javascript" src="../namespace.js"></script>
		<script type="text/javascript" src="../../jquery.observable/jquery.observable.js"></script>
		<script type="text/javascript" src="../DOMIterator.js"></script>
		<script type="text/javascript" src="../Expression.js"></script>
		<script type="text/javascript" src="../TextElemParser.js"></script>
		<script type="text/javascript" src="../ChildNodeController.js"></script>
		<script type="text/javascript" src="../ElemPosition.js"></script>
		<script type="text/javascript" src="../NodeController.js"></script>
		<script type="text/javascript" src="../OutputNodeController.js"></script>
		<script type="text/javascript" src="DOMIterator.test.js"></script>
		<script type="text/javascript" src="Expression.test.js"></script>
		<script type="text/javascript" src="TextElemParser.test.js"></script>
		<script type="text/javascript" src="NodeController.test.js"></script>
		<script type="text/javascript" src="tests.js"></script>
	</head>
	<body>
		<h1 class="qunit-header">jquery.binddata unit tests</h1>
		<h2 id="qunit-banner"></h2>
		<div id="qunit-testrunner-toolbar"></div>
		<h2 id="qunit-userAgent"></h2>
		<ol id="qunit-tests"></ol>
		
		<div id="test-templates">
			<h2>outputtest</h2>
			<div id="outputtest">
				<span class="name">${name}</span>
				<span class="email">${email}</span>
			</div>
			
			<h2>iftest</h2>
			<div id="iftest">
				{{if not hide}} <u id="uif">${name}</u> {{/if}}
			</div>

			<h2>ifelseiftest</h2>
			<div id="ifelseiftest">
				{{ if user.render == 'name'}}
					<span class="name">${user.name}</span>
				{{ elseif user.render == 'email'}}
					<span class="email">${user.email}</span>
				{{ elseif user.render == 'age' }}
					<span class="age">${user.age}</span>
				{{ else }}
					<span class="both">
						<span class="both-name">name: ${user.name}</span>
						<span class="both-email">email: ${user.email}</span>
					</span>
				{{/if}}
				
			</div>
			
			<h2>eachtest</h2>
			<div id="eachtest">
				{{each arr as idx => itm}}
					<span class="each">${glob.name}</span>
				{{/each}}
			</div>
		
		</div>
	</body>
</html>
